body{
    margin:0;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}
  /*header*/
.sfondo-top{
    height: 100px;
    background-color: dodgerblue;
    background-image:url('../img/pattern.png');
    background-size:200px;
    
}
.logo {
    height: 100%;
    background-image: url('../img/logo.svg');
   background-repeat: no-repeat;
   background-position: 0 20px;
   background-size: 200px;
}
h1{
    margin-bottom: 0;
}
.title-bottom{
    color: grey;
}
#text {
    color: lightblue;
}
.date{
    color: grey;
    font-size: 10px;
}
.foto{
    margin-top: 20px;
    font-size: 12px;
    
}
span{
    background-color: yellow;
}
ul{
    margin-left: -30px;
}
.head{
    color: white;
    background-color: dodgerblue;
}